@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.top {
    height: 9rem;
    width: 100%;
    position: relative;
}

.line {
    border-bottom: 1px black solid;
    width: 75%;
    margin-left: 10%;
}

.navbar {
    height: 9rem;
    background-color: rgba(255, 255, 255, 0.803);
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
}

.navbar-brand {
    padding: 10px;
    align-items: center;
    margin-top: 10px;
    margin-left: 150px;
}

.navbar-menu {
    font-weight: 800;
    font-size: 1.3rem;
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin-right: 150px;
    align-items: center;
}

.navbar-menu li a {
    text-decoration: none;
    color: rgb(33, 51, 121);
    transition: all 0.3s;
}

.login{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 16px;
}
.sing{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 16px;
}
.navbar-toggle {
    display: none;
}

#menuToggle {
    display: none;
}

.logo {
    color: rgb(11, 57, 240);
    height: 60px;

}

@media screen and (max-width: 720px) {
    .navbar-menu {
        display: flexbox;
        position: absolute;
        top: 50px;
        /* Ajustar conforme a altura da navbar */
        right: 0;
        background-color: rgba(0, 0, 0, 0.643);
        width: 100%;
        height: calc(100vh - 50px);
        /* Ajustar altura para preencher a tela */
        flex-direction: row;
        gap: 15px;
        padding: 10px;
    }

    #menuToggle:checked+.navbar-toggle+.navbar-menu {
        display: flex;
    }

    .navbar-toggle {
        display: block;
        cursor: pointer;
    }
}